:host{
    display: flex;
    justify-content: center;
    padding-top: 10%;
   

}
.form-group{
    background-color:whitesmoke;
    width: 500px;
    height: 350px;
    text-align: center;
 

}
mat-card-content{
    display: flex;
    justify-content: center;

}
#buttonCancel{
    background-color: red;
    font-size: 16px;
    width: 80px;
    // height: 40px;
}
#buttonPost{
    margin-right: 3%;
    background-color: rgb(75, 136, 250);
    color: white;
    font-size: 16px;
    width: 80px;
    // height: 40px;
}
h3{
    font-size: 20px;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color:  rgb(75, 136, 250);
    margin-bottom: 0%;
    color: white;
    line-height: 40px;
}

mat-form-field{
    width: 85%;
}
#imageInput{
    width: 67%;
}
#button{
    margin-top: 4%;
}
