<!-- <div *ngIf="userService.isLoggedIn()"> -->
    <div class="create">
        <div>
            <h3>CREATE NEW POST</h3>
        </div>
        <mat-card-content>
    
            <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <br>
                    <div>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Title" formControlName="title" required>
                        </mat-form-field>
                        <mat-error
                            *ngIf="createForm.controls['title'].hasError('required')&&createForm.controls['title'].touched">
                            Please enter title.
                        </mat-error>
                    </div>
                    <div>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Content" formControlName="content" required>
                        </mat-form-field>
                        <mat-error
                            *ngIf="createForm.controls['content'].hasError('required')&&createForm.controls['content'].touched">
                            Please enter content.
                        </mat-error>
                    </div>  
                    <br>
                    <div>
                        <!-- <button mat-button (click)="inputFile.click()">Choose file</button> -->
                        <input type="file" id="file" (change)="changeFile($event.target.files)" #inputFile
                             class="background-gray">
    
                        <!-- <input type="file" placeholder="Image" formControlName="image"  (change)="changeFile($event.target.files)" required> -->
    
                        <!-- <mat-error *ngIf="createForm.controls['image'].hasError('required')&&createForm.controls['image'].touched" > 
                                 Please choose image.
                             </mat-error> -->
                    </div>
                    <br>
    
                    <div>
                        <button mat-raised-button id="buttonPost" type="submit" [disabled]="!createForm.valid"> Post</button>
                        <button [routerLink]="'/my-news'" mat-raised-button id="buttonCancel"> Cancel</button>
                    </div>
    
    
                </div>
            </form>
        </mat-card-content>
    </div>