<div *ngIf="userService.isLoggedIn()" style="width: 600px;">

    <div style="text-align: right;">
        <button [routerLink]="'/my-news/create'" mat-raised-button id="buttonNew"> New Your News</button>
    </div>

    <div>
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>ID </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef>Title </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.title}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="content">
                <mat-header-cell *matHeaderCellDef>Content </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.content}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="image">
                <mat-header-cell *matHeaderCellDef>Images </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.image}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <a mat-button>
                        <mat-icon aria-hidden="false" aria-label="edit">edit</mat-icon>
                    </a>
                    <a (click)="deleteRoom(element.id)" mat-button>
                        <mat-icon aria-hidden="false" aria-label="delete">delete</mat-icon>
                    </a>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>