<div *ngIf="userService.isLoggedIn()">
  <!-- <div style="text-align: right; margin-bottom: 40px;">
        <button [routerLink]="'/room/create'" mat-raised-button>New Room</button>
    </div> -->
  
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="roomname">
      <mat-header-cell *matHeaderCellDef> Room Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.roomname}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="createBy">
      <mat-header-cell *matHeaderCellDef>Created by </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.createBy}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef>Location </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.location}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a [routerLink]="'/your-room/update-room/' + element.id" mat-button>
          <mat-icon aria-hidden="false" aria-label="edit">edit</mat-icon>
        </a>
        <a (click)="deleteRoom(element.id)" mat-button>
          <mat-icon aria-hidden="false" aria-label="delete">delete</mat-icon>
        </a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>