  <nav id="sidebar" *ngIf="userService.isLoggedIn()" style="height: 100%; width: 20%; position: fixed;">
    <div class="img bg-wrap text-center py-4" style="background-image: url();">
      <div class="user-logo">
        <div class="img" style="background-image: url(/assets/images/roomchat.jpg); height: 120px; width: 130px;"></div>
        <!-- <div class="example-header-image" style="background-image: url(/assets/images/roomchat.jpg);"></div> -->
     
     <!-- <h5>{{user.userName}}</h5> -->
    </div>
    </div>
    <ul class="list-unstyled components mb-5">
      <li class="active">
        <a routerLink="/home"><span class="fa fa-home mr-3"></span> Home</a>
      </li>
      <li>
        <a routerLink="/news"><span class="fa fa-gift mr-3"></span>News</a>
      </li>
      <li>
       
          <a routerLink="/my-news"><span class="fa fa-download mr-3"></span>My news</a>
      </li>
     
      <!-- <li>
        <a href="#"><span class="fa fa-trophy mr-3"></span> Top Review</a>
      </li>
      <li>
        <a href="#"><span class="fa fa-cog mr-3"></span> Settings</a>
      </li>
      <li>
        <a href="#"><span class="fa fa-support mr-3"></span> Support</a>
      </li>-->
      <li>
        <a button (click)="logout()"><span class="fa fa-sign-out mr-3"></span> Log Out</a>
      </li> 
    </ul>

  </nav>
