.main-app{
    display: flex;
    height: 100%;
    .size1{
        height: auto;
        width: 23%;
    }
    .size2{
        display: none;
    }
    .size3{
        height: auto;
        width: 77%;
        display: flex;
        justify-content: center;
    }
    .size4{
        // display: none;
        height: auto;
        width: 100%;
        background-image: url('/assets/images/background.jpg');
    }
}