<div class="main-app">
  <app-menu [ngClass]="{'size1':userService.isLoggedIn(),'size2': !userService.isLoggedIn()}"></app-menu>
  <!-- Page Content  -->
  <!-- <div id="content" class="p-4 p-md-5 pt-5" style=" background-image: url('/assets/images/background.jpg') !important;">
  </div> -->
  <div  [ngClass]="{'size3':userService.isLoggedIn(),'size4': !userService.isLoggedIn()}">

    <router-outlet></router-outlet>
  </div>
</div>