<div>
    <mat-card>
        <mat-card-title>
            Register New Account
        </mat-card-title>
        <mat-card-content>
            <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
                <div>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Username" formControlName="username" required>
                    </mat-form-field>
                    <mat-error
                        *ngIf="formRegister.controls['username'].hasError('required') && formRegister.controls['username'].touched">
                        Please enter user name.
                    </mat-error>
                </div>

                <div>
                    <mat-form-field>
                        <input type="password" matInput placeholder="Password" formControlName="password" required>
                    </mat-form-field>
                    <mat-error
                        *ngIf="formRegister.controls['password'].hasError('required') && formRegister.controls['password'].touched">
                        Please enter password.
                    </mat-error>
                    <mat-error
                        *ngIf="formRegister.controls['password'].hasError('minlength') && formRegister.controls['password'].touched">
                        Please enter password has more 6 characters.
                    </mat-error>
                </div>
                <div>
                    <mat-form-field>
                        <input type="password" matInput placeholder="Confirm Password"
                            formControlName="confirm_password" required>
                    </mat-form-field>
                    <mat-error
                        *ngIf="formRegister.controls['confirm_password'].hasError('required') && formRegister.controls['confirm_password'].touched">
                        Please enter confirm password.
                    </mat-error>
                    <mat-error
                        *ngIf="formRegister.controls['confirm_password'].hasError('minlength') && formRegister.controls['confirm_password'].touched">
                        Please enter confirm password has more 6 characters.
                    </mat-error>
                </div>
                <div>
                    <mat-form-field>
                        <input type="email" matInput placeholder="Email" formControlName="email" required>
                    </mat-form-field>
                    <mat-error
                        *ngIf="formRegister.controls['email'].hasError('required') && formRegister.controls['email'].touched">
                        Please enter email.
                    </mat-error>
                    <mat-error
                        *ngIf="formRegister.controls['email'].hasError('pattern') && formRegister.controls['email'].touched">
                        Email isn't format.
                    </mat-error>

                </div>
                <p *ngIf="error" class="error">
                    {{ error }}
                </p>
                <mat-card-actions>
                    <button class="button" type="submit" color="primary" mat-raised-button
                        [disabled]="!formRegister.valid">REGISTER</button>
                </mat-card-actions>
            </form>
        </mat-card-content>
        <a routerLink="/logon"> You having account</a>
    </mat-card>
</div>