:host {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    width: 100%;
    height: auto;
  }
  
  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }
  
  mat-card-title{
    display: flex;
    justify-content: center;
  }
  mat-card-content {
    display: flex;
    justify-content: center;   
    width: 350px;
  }
  
  .error {
    padding: 5px;
    width: 300px;
    color: red;
  }
  
  .mat-card-title {
    margin: -16px -16px 16px -16px !important;
    padding: 28px;
    background:  rgb(75, 136, 250);
    color: #fff;
  }
  
  .mat-input-element {
    font-size: 16px;
  }
  
  .mat-card-actions {
    margin-bottom: 0px;
  }
  
  .button {
    width: 100%;
    background:  rgb(75, 136, 250);
    color: #fff;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
  }

  
  