<div *ngIf="userService.isLoggedIn()" class="news-html">

  <div style="text-align: right;">
    <button [routerLink] = "'/news/create'" mat-raised-button id="buttonNew"> New Your News</button>
</div>

  <mat-card class="example-card" *ngFor="let element of new">
    <mat-card-header >
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-subtitle [value]="element.createdBy">{{element.createdBy}}</mat-card-subtitle>
      <!-- <mat-card-title [value]="element.title">{{element.title}}</mat-card-title> -->
    </mat-card-header>
    <mat-card-content [value]="element.content">
      {{element.content}}
    </mat-card-content>
    <img class="example-body-image" style=" width:600px; height:400px" [src]="element.image" />
    <div>

      <mat-icon [matBadge]="element.likes" color="warn" matBadgeColor="primary">favorite</mat-icon>
      <mat-form-field class="comment">
        <textarea matInput placeholder="Write your comment is here."></textarea>
      </mat-form-field>

    </div>

  </mat-card>
  <br>

</div>