.news-html{
  margin-top: 50px;
  height: 100%;
  width: 100%;
}

.example-body-image {
    background-size: 200px;
  }
  .example-card {
    max-width: 700px;
    padding: 30px;
  }
.mat-card{
  margin-bottom: 25px;
}
.comment{
  margin-left: 30px;
    width: 550px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
#buttonNew{

  color: white;
  background-color:  rgb(75, 136, 250);
  // margin-top: 5%;
  // margin-bottom: 85%;
  // margin-left: 80%;
  margin: -5% -5% 3% 100%;
  position: flex;
}