    <mat-card>
      <mat-card-title> 
        Update a new room
          <!-- <img src="/assets/img/logo.png" width="200" height="96" /> -->
      </mat-card-title>
      <mat-card-content>
          <form [formGroup]="formUpdate" (ngSubmit)="updateRoom()">
    
          <div>
              <mat-form-field>
                  <input type="text" matInput placeholder="Room name" readonly formControlName="roomname" required>
              </mat-form-field>
              <mat-error *ngIf="formUpdate.controls['roomname'].hasError('required') && formUpdate.controls['roomname'].touched">
                Please enter room name.
          </mat-error>
          </div>
          <div>
            <mat-form-field>
                <input type="text" matInput placeholder="Room content" formControlName="description" required>
            </mat-form-field>
            <mat-error *ngIf="formUpdate.controls['description'].hasError('required') && formUpdate.controls['description'].touched">
              Please enter description.
        </mat-error>
        </div>
        <div>
          <mat-form-field>
              <input type="text" matInput placeholder="Room location" formControlName="location" required>
          </mat-form-field>
          <mat-error *ngIf="formUpdate.controls['location'].hasError('required') && formUpdate.controls['location'].touched">
            Please enter location.
      </mat-error>
      </div>
          <!-- <div>
              <mat-form-field>
                  <mat-label>User room</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let user of users" [value]="user.id">
                      {{user.username}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
          </div> -->
          <!-- <div>
              <mat-form-field>
                  <input type="password" matInput placeholder="Password" formControlName="password" required>
              </mat-form-field>
          </div> -->
          <mat-card-actions>
              <button class="button" type="submit" color="primary" mat-raised-button [disabled]="!formUpdate.valid">Update</button>
          </mat-card-actions>
    
          </form>
          
      </mat-card-content>
      <a routerLink="/your-room"> Back</a>
    </mat-card>
  
  