<div class="img-background">

<!-- style="background-image: url('assets/images/background.jpg') !important;"-->
  <mat-card>
    <mat-card-title>
      Log in
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="formLogon" (ngSubmit)="onSubmit()">

        <div>
          <mat-form-field>
            <input type="text" matInput placeholder="Username" formControlName="username" required>
          </mat-form-field>
          <mat-error
            *ngIf="formLogon.controls['username'].hasError('required') && formLogon.controls['username'].touched">
            Please enter user name.
          </mat-error>
        </div>

        <div>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password" required>
          </mat-form-field>
          <mat-error
            *ngIf="formLogon.controls['password'].hasError('required') && formLogon.controls['password'].touched">
            Please enter password.
          </mat-error>

        </div>
        <p *ngIf="error" class="error">
          {{ error }}
        </p>
        <mat-card-actions>
          <button class="button" type="submit" color="primary" mat-raised-button
            [disabled]="!formLogon.valid">LOGIN</button>
        </mat-card-actions>

      </form>

    </mat-card-content>
    <a routerLink="/register"> Register</a>
  </mat-card>
</div>