<div *ngIf="userService.isLoggedIn()">
  <mat-card>
    <mat-card-title>
      Create a new room
        <!-- <img src="/assets/img/logo.png" width="200" height="96" /> -->
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="formCreateRoom" (ngSubmit)="onSubmit()">
  
        <div>
            <mat-form-field>
                <input type="text" matInput placeholder="Room name" formControlName="roomname" required>
            </mat-form-field>
            <mat-error *ngIf="formCreateRoom.controls['roomname'].hasError('required') && formCreateRoom.controls['roomname'].touched">
              Please enter room name.
        </mat-error>
        </div>
        <div>
          <mat-form-field>
              <input type="text" matInput placeholder="Room content" formControlName="description" required>
          </mat-form-field>
          <mat-error *ngIf="formCreateRoom.controls['description'].hasError('required') && formCreateRoom.controls['description'].touched">
            Please enter description.
      </mat-error>
      </div>
      <div>
        <mat-form-field>
            <input type="text" matInput placeholder="Room location" formControlName="location" required>
        </mat-form-field>
        <mat-error *ngIf="formCreateRoom.controls['location'].hasError('required') && formCreateRoom.controls['location'].touched">
          Please enter location.
    </mat-error>
    </div>
        <!-- <div>
            <mat-form-field>
                <mat-label>User room</mat-label>
                <mat-select>
                  <mat-option *ngFor="let user of users" [value]="user.id">
                    {{user.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div> -->
        <!-- <div>
            <mat-form-field>
                <input type="password" matInput placeholder="Password" formControlName="password" required>
            </mat-form-field>
        </div> -->
        <p *ngIf="error" class="error">
          {{ error }}
      </p>
        <mat-card-actions>
            <button class="button" type="submit" color="primary" mat-raised-button [disabled]="!formCreateRoom.valid">Create</button>
        </mat-card-actions>
  
        </form>
        
    </mat-card-content>
    <a routerLink="/room"> Back</a>
  </mat-card>
</div>

