:host {
    display: flex;
    justify-content: center;
    padding-top: 100px;
  }
  
  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }
  
  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }
  
  .error {
    padding: 5px;
    width: 300px;
    color: red;
  }
  
  .mat-card-title {
    margin: -16px -16px 16px -16px !important;
    padding: 28px;
    background: -webkit-linear-gradient(left, #a445b2, #d41872, #fa4299);
    color: #fff;
  }
  
  .mat-input-element {
    font-size: 16px;
  }
  
  .mat-card-actions {
    margin-bottom: 0px;
  }
  
  .button {
    width: 100%;
    background: -webkit-linear-gradient(left, #a445b2, #d41872, #fa4299);
    color: #ffff;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
  }
  